/area.html
/Demo.html
/dom.html
/eventlistener.css
/eventlistener.html
/eventlistener.js
/functions.html
/hover.html
/hovertask.html
/MapReduce.html
/navbar.html
/onclick.html
/promise.html
/puma.html
/sampe.html
/sample.js
/storage.html
/storages.js